body{
    background-color:palevioletred;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color:white;
}
form{
    background-color:bisque;
    margin: 5px 260px;  
    padding: 10px;
}
input{
    background-color:white;
    padding:0%;
    width: 310px;
    margin: 2px;
}
button{
    text-align: center;
    font-size: 13px;
    background-color: rgb(28, 184, 132);
    border:darkgray;
    text-transform: uppercase;
    margin: 10px 150px 0px 130px;
    padding: 5px;
    border-radius: 7px;
}
.text{
    color:white;
    text-align: center;
}
h2{
    background-color: white;
    text-align: center;
    font-size: 35px;
}